div#africa.col.s12
  div.row
    div.col.s3
      h2 Africa
        h5 Companies: 
          span#toAfrica ?
        h5 Cost: 
          span#toAfricaCost ?
        h5 Revenue:
          span#toAfricaRevenue ?
          br
          br
          a.waves-effect.waves-light.btn(onClick="expandAfrica()") Take Over