div#asia.col.s12

  div.row

    div.col.s3
      h3 Turkey
      h5 Companies: 
        span#toTurkey ?
      h5 Cost: 
        span#toTurkeyCost ?
      h6 Revenue: 
        span#toTurkeyRevenue ?
        br
        br
        a.waves-effect.waves-light.btn(onClick="expandTurkey()") Take Over

    div.col.s3
      h3 Indonesia
      h5 Companies: 
        span#toIndonesia ?
      h5 Cost: 
        span#toIndonesiaCost ?
      h6 Revenue: 
        span#toIndonesiaRevenue ?
        br
        br
        a.waves-effect.waves-light.btn(onClick="expandIndonesia()") Take Over

    div.col.s3
      h3 Russia
      h5 Companies: 
        span#toRussia ?
      h5 Cost: 
        span#toRussiaCost ?
      h6 Revenue: 
        span#toRussiaRevenue ?
        br
        br
        a.waves-effect.waves-light.btn(onClick="expandRussia()") Take Over

  div.row
    
    div.col.s3
      h3 Japan
      h5 Companies: 
        span#toJapan ?
      h5 Cost: 
        span#toJapanCost ?
      h6 Revenue: 
        span#toJapanRevenue ?
        br
        br
        a.waves-effect.waves-light.btn(onClick="expandJapan()") Take Over


    div.col.s3
      h3 India
      h5 Companies: 
        span#toIndia ?
      h5 Cost: 
        span#toIndiaCost ?
      h6 Revenue: 
        span#toIndiaRevenue ?
        br
        br
        a.waves-effect.waves-light.btn(onClick="expandIndia()") Take Over


    div.col.s3
      h3 China
      h5 Companies: 
        span#toChina ?
      h5 Cost: 
        span#toChinaCost ?
      h6 Revenue: 
        span#toChinaRevenue ?
        br
        br
        a.waves-effect.waves-light.btn(onClick="expandChina()") Take Over