div#memo.col.s12
  div.row
    div.col.s12
      h3 Memo
      p Welcome. You are the new CTO. You're here to turn the company around. We want you to make the company profitable.
      p Work as much as you can. Once you start buying companies, they will begin generating profits. Our goal is total world takeover.
      p Your work will be saved every minute, so plan accordingly and come back when you're ready.
      p If you fail, the company will fail. We are counting on you.
      p -- Management