div.tab 
  input(type="radio" id="tab-4" name="tab-group-1")
  label(for="tab-4") Western Hemisphere

  div.content
    div.one-third.column(style="margin-top: 10%")
      h2 Europe
      h5 Companies
        span#toEurope 0
      h5 Cost: 
        span#toEuropeCost 10
      h5 Revenue:
        span#toEuropeRevenue 0
      button(onClick="expandEurope()") Take Over

    div.one-third.column(style="margin-top: 10%")
      h2 Americas
      h5 Companies
        span#toAmericas 0
      h5 Cost: 
        span#toAmericasCost 100
      h5 Revenue:
        span#toAmericasRevenue 0

      button(onClick="expandAmericas()") Take Over

    div.one-third.column(style="margin-top: 10%")
      h2 Atlantis
      h5 Companies
        span#toAtlantis 0
      h5 Cost: 
        span#toAtlantisCost 1000
      h5 Revenue:
        span#toAtlantisRevenue 0

      button(onClick="expandAtlantis()") Take Over