div.tab 
  input(type="radio" id="tab-3" name="tab-group-1")
  label(for="tab-3") Eastern Hemisphere
  
  div.content
    div.one-third.column(style="margin-top: 10%")
      h2 India
      h5 Companies
        Cost: 
        span#toIndiaCost 10
        br
        Revenue:
        span#toIndiaRevenue 0
      
      button(onClick="expandIndia()") Take Over
      
    div.one-third.column(style="margin-top: 10%")
      h2 Africa
      h5 Companies
        Cost: 
        span#toAfricaCost 100
        br
        Revenue:
        span#toAfricaRevenue 0
      
      button(onClick="expandAfrica()") Take Over
      
    div.one-third.column(style="margin-top: 10%")
      h2 Asia
      h5 Companies
        Cost: 
        span#toAsiaCost 1000
        br
        Revenue:
        span#toAsiaRevenue 0
      
      button(onClick="expandAfrica()") Take Over