div.row
  div.col.s8
    section#banner
      h1 Corporate Take Over
  div.col.s4
    h5 Credits: 
      span#coins 0
    h6  Revenue: 
      span#revenue 0
    a.waves-effect.waves-light.btn(onClick="workClick()") Work