div.row
  div.col.s12
    ul.tabs
      
      li.tab.col.s2
        a.active(href="#asia") Asia

      li.tab.col.s2.disabled
        a(href="#africa") Europe

      li.tab.col.s2.disabled
        a(href="#africa") Americas

      li.tab.col.s2
        a(href="#memo") Memo

      li.tab.col.s2.disabled
        a(href="#achievements") Achievements

  include divs/asia
  include divs/memo