script(src="https://cdnjs.cloudflare.com/ajax/libs/accounting.js/0.4.1/accounting.js")
script(src="assets/js/accounting-config.js")
script(src="https://cdn.plot.ly/plotly-latest.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js")

script(src="assets/js/metrika.js")

script(src="https://cdn.ravenjs.com/3.17.0/raven.min.js" crossorigin="anonymous")
script(src="assets/js/raven-config.js")