doctype
html
  head
    meta(charset="UTF-8")
    
    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    meta(name="viewport" content="width=device-width, initial-scale=1")

    link(rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon")
    link(rel="icon" href="/assets/img/favicon.ico" type="image/x-icon")

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    link(href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css")

    <!-- CSS 
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    link(rel="stylesheet" href="css/normalize.css")
    link(rel="stylesheet" href="css/skeleton.css")
    link(rel="stylesheet" href="css/interface.css")
    link(rel="stylesheet" href="css/tabs.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css") 

    title= title

  body
    div.container
      != yield
