include partials/app/banner
include partials/app/notifications.html
include partials/app/tabs
//include partials/app/tabs.html
include partials/scripts/libraries
include partials/scripts/app
include partials/app/version